<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contrôle du Robot NAO</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="control-container">
        <form>
            <button class="stop_action" type="submit" id="stop">Stop</button>
        </form>
        <h1>Contrôle du Robot NAO</h1>
        <form action="/logout" method="post">
            <button class="disconnect" type="submit">Déconnexion</button>
        </form>
    </div>

    <div class="movment-container">
        <h2>Contrôle de la posture</h2>
        <button class="bouton-afficher" data-target="posture-contenu">Afficher le contenu</button>
        <div class="contenu-caché posture-contenu">
            <button class="bouton-cacher" data-target="posture-contenu">Cacher le contenu</button>
            <button type="submit" id="Stand">Se lever</button>
            <button type="submit" id="Sit">S'asseoir</button>
            <button type="submit" id="LyingBack">Se coucher</button>
            <button type="submit" id="LyingBelly">Repos</button>
        </div>
    </div>

    <div class="movment-container">
        <h2>Contrôle du mouvement</h2>
        <button class="bouton-afficher" data-target="mouvement-contenu">Afficher le contenu</button>
        <div class="contenu-caché mouvement-contenu">
            <button class="bouton-cacher" style="display: none;" data-target="mouvement-contenu">Cacher le contenu</button>
            <button type="submit" id="goForward">Avancer</button>
            <button type="submit" id="goBackward">Reculer</button>
        </div>
    </div>

    <div class="movment-container">
        <h2>Contrôle danse</h2>
        <button class="bouton-afficher" data-target="danse-contenu">Afficher le contenu</button>
        <div class="contenu-caché danse-contenu">
            <button class="bouton-cacher" style="display: none;" data-target="danse-contenu">Cacher le contenu</button>
            <button type="submit" id="start_baby_shark_dance">Baby Shark Dance</button>
        </div>
    </div>

    <div class="movment-container">
        <h2>Contrôle bienvenue</h2>
        <button class="bouton-afficher" data-target="welcome-contenu">Afficher le contenu</button>
        <div class="contenu-caché welcome-contenu">
            <button class="bouton-cacher" style="display: none;" data-target="welcome-contenu">Cacher le contenu</button>
            <button type="submit" id="OdysseoPres">Odysseo présentation</button>
        </div>
    </div>

    <div class="movment-container">
        <h2>Contrôle présentation requins FR</h2>
        <button class="bouton-afficher" data-target="shark-FR-contenu">Afficher le contenu</button>
        <div class="contenu-caché shark-FR-contenu">
            <button class="bouton-cacher" style="display: none;" data-target="shark-FR-contenu">Cacher le contenu</button>
            <button type ="submit" id="me">1 - Moi !</button>
            <button type="submit" id="fear">2 - Peur </button>
            <button type="submit" id="notConvived">3 - Pas convaincu </button>
            <button type="submit" id="sharksFish">4 - Poissons = requin ? </button>
            <button type="submit" id="ears">5 - Touche ses oreilles </button>
            <button type="submit" id="lookAtAquarium">6 - Regarde aquarium </button>
            <button type="submit" id="Exclamation">7 - C'est pas vrai ?! </button>
            <button type="submit" id="weAreSharks">8 - Nous sommes des requins </button>
            <button type="submit" id="No">9 - Non</button>
            <button type="submit" id="Excited">10 - Oui, je veux !</button>
            <button type="submit" id="lookAtAquarium">11 - Regarde aquarium </button>
            <button type="submit" id="interessted">12 - Requin interessant  </button>
            <button type="submit" id="askVisitors">13 - Demande aux visiteurs </button>
            <button type="submit" id="bodyBuilding">14 - BodyBuilding </button>
            <button type="submit" id="iKnow">15 - Je sais ! </button>
            <button type="submit" id="protectSharks">15 - Comment protéger les requins ?</button>
            <button type="submit" id="likeSharks">16 - J'aime les requins </button>
            <button type="submit" id="dancePropose">17 - Danse du requin propositions </button>
            <button type="submit" id="start_baby_shark_dance">18 - Baby Shark Dance</button>
            <button type="submit" id="thanks">19 - Merci !</button>
        </div>
    </div>

    <div class="movment-container">
        <h2>Contrôl présentation sharks ENG</h2>
        <button class="bouton-afficher" data-target="shark-contenu">Show content</button>
        <div class="contenu-caché shark-contenu">
            <button class="bouton-cacher" style="display: none;" data-target="shark-contenu">Hide content</button>
            <button type ="submit" id="me_2">1 - Me !</button>
            <button type="submit" id="fear_2">2 - Fear </button>
            <button type="submit" id="notConvived_2">3 - Not convinced </button>
            <button type="submit" id="sharksFish_2">4 - Fish = shark ? </button>
            <button type="submit" id="ears">5 - Touching ears </button>
            <button type="submit" id="lookAtAquarium">6 - Look at aquarium </button>
            <button type="submit" id="Exclamation_2">7 - Unbelievable ?! </button>
            <button type="submit" id="weAreSharks_2">8 - We are sharks </button>
            <button type="submit" id="No_2">9 - No !</button>
            <button type="submit" id="Excited_2">10 - Yes !</button>
            <button type="submit" id="lookAtAquarium">11 - Look at aquarium </button>
            <button type="submit" id="interessted_2">12 - Sharks interesting  </button>
            <button type="submit" id="askVisitors_2">13 - Asks to guests </button>
            <button type="submit" id="bodyBuilding_2">14 - BodyBuilding </button>
            <button type="submit" id="iKnow_2">15 - I know ! </button>
            <button type="submit" id="protectSharks_2">15 - How to protect sharks ?</button>
            <button type="submit" id="likeSharks_2">16 - Love sharks </button>
            <button type="submit" id="dancePropose_2">17 - Danse propose </button>
            <button type="submit" id="start_baby_shark_dance">18 - Baby Shark Dance</button>
            <button type="submit" id="thanks_2">19 - Thanks !</button>
        </div>
    </div>

    <div class="movment-container">
        <h2>Contrôle du volume</h2>
            <input type="range" id="volume" name="volume" min="0" max="100" value="50">
            <button type="submit" id="volumeBtn">Appliquer</button>
    </div>

    <div class="movment-container">
        <h2>Niveau de batterie du robot NAO</h2>
        <div class="battery-wrapper">
            <div class="battery-level" id="battery-level"></div>
        </div>
        <div class="battery-text">Niveau de batterie : <span id="battery-text">0</span>%</div>
    </div>
    <script src="/static/scipt.js"></script>
</body>
</html>
