<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contrôle du Robot NAO</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
            text-align: center;
            padding-top: 50px; /* Ajoute de l'espace en haut pour ne pas cacher la div */
        }

        .control-container {
            display: flex; /* Utilise Flexbox */
            position: fixed; /* La div est positionnée de manière fixe */
            top: 0; /* En haut de la fenêtre */
            left: 0; /* Alignée à gauche */
            width: 100%; /* Occupe toute la largeur */
            background-color: #fff; /* Fond blanc pour la div */
            padding: 10px; /* Ajoute un peu de marge autour du contenu */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
            z-index: 1000; /* Assure que la div est au-dessus de tout le reste */
        }

        .movment-container {
            border-radius: 4px;
            margin: auto;
            margin-top: 70px;
            margin-bottom: 20px;    
            width: 80%; /* Occupe toute la largeur */
            background-color: #fff; /* Fond blanc pour la div */
            padding: 10px; /* Ajoute un peu de marge autour du contenu */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
            padding: 30px;
        }

        h1 {
            color: #333;
            margin: auto;
            font-size: 200%;
        }

        form {
            margin-top: 20px;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 20px 20px;
            border: none;
            border-radius: 4px;
            width: 90%;
            cursor: pointer;
            margin: 20px;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #45a049;
        }

        .stop_action {
            background-color: #f44336;
            color: white;
            padding: 20px 20px;
            border: none;
            border-radius: 4px;
            width: 90%;
            cursor: pointer;
            margin: 20px;
            transition: background-color 0.3s;
        }

        .disconnect {
            margin: auto;
            margin-bottom: 20px;
            margin-right: 20px;
        }

        .stop_action {
            margin: auto;
            margin-bottom: 20px;
            margin-right: 20px;
        }

        .mouvement {
            margin-top: 60px;
        }

        input[type="range"] {
            width: 80%;
            margin-top: 10px;
            -webkit-appearance: none;
            appearance: none;
            background-color: #ddd;
            height: 10px;
            border-radius: 5px;
            outline: none;
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            background-color: #4CAF50;
            cursor: pointer;
            border-radius: 50%;
        }

        /* Contenu initial caché */
        .contenu-caché {
            display: none;
        }

        .bouton-afficher {
            background-color: #333;
            margin: auto;
        }

        .bouton-afficher:hover {
            background-color: #555;
        }

        .bouton-cacher {
            background-color: #333;
            margin: auto;
        }

        .bouton-cacher:hover {
            background-color: #555;
        }

        .battery-wrapper {
            width: 100%;
            height: 50px;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: hidden;
        }
        .battery-level {
            height: 100%;
            background-color: #4CAF50;
            transition: width 0.3s ease;
        }
        .battery-text {
            text-align: center;
            padding: 10px;
        }

        /* Couleurs de la jauge en fonction du pourcentage */
        .battery-level.low {
            background-color: #f44336; /* Rouge */
        }
        .battery-level.medium {
            background-color: #ffc107; /* Jaune */
        }
        .battery-level.high {
            background-color: #4CAF50; /* Vert */
        }

    </style>
</head>
<body>
    <div class="control-container">
        <form>
            <button class="stop_action" type="submit" id="stop">Stop</button>
        </form>
        <h1>Contrôle du Robot NAO</h1>
        <form action="/logout" method="post">
            <button class="disconnect" type="submit">Déconnexion</button>
        </form>
    </div>

    <div class="movment-container">
        <h2>Contrôle de la posture</h2>
        <button class="bouton-afficher" data-target="posture-contenu">Afficher le contenu</button>
        <div class="contenu-caché posture-contenu">
            <button class="bouton-cacher" data-target="posture-contenu">Cacher le contenu</button>
            <button type="submit" id="Stand">Se lever</button>
            <button type="submit" id="Sit">S'asseoir</button>
            <button type="submit" id="LyingBack">Se coucher</button>
            <button type="submit" id="LyingBelly">Repos</button>
        </div>
    </div>

    <div class="movment-container">
        <h2>Contrôle du mouvement</h2>
        <button class="bouton-afficher" data-target="mouvement-contenu">Afficher le contenu</button>
        <div class="contenu-caché mouvement-contenu">
            <button class="bouton-cacher" style="display: none;" data-target="mouvement-contenu">Cacher le contenu</button>
            <button type="submit" id="goForward">Avancer</button>
            <button type="submit" id="goBackward">Reculer</button>
        </div>
    </div>

    <div class="movment-container">
        <h2>Contrôle danse</h2>
        <button class="bouton-afficher" data-target="danse-contenu">Afficher le contenu</button>
        <div class="contenu-caché danse-contenu">
            <button class="bouton-cacher" style="display: none;" data-target="danse-contenu">Cacher le contenu</button>
            <button type="submit" id="start_baby_shark_dance">Baby Shark Dance</button>
        </div>
    </div>

    <div class="movment-container">
        <h2>Contrôle bienvenue</h2>
        <button class="bouton-afficher" data-target="welcome-contenu">Afficher le contenu</button>
        <div class="contenu-caché welcome-contenu">
            <button class="bouton-cacher" style="display: none;" data-target="welcome-contenu">Cacher le contenu</button>
            <button type="submit" id="OdysseoPres">Odysseo présentation</button>
        </div>
    </div>

    <div class="movment-container">
        <h2>Contrôle shark présentation</h2>
        <button class="bouton-afficher" data-target="shark-contenu">Afficher le contenu</button>
        <div class="contenu-caché shark-contenu">
            <button class="bouton-cacher" style="display: none;" data-target="shark-contenu">Cacher le contenu</button>
            <button type ="submit" id="me">1 - Moi !</button>
            <button type="submit" id="fear">2 - Peur </button>
            <button type="submit" id="notConvived">3 - Pas convaincu </button>
            <button type="submit" id="sharksFish">4 - Poissons = requin ? </button>
            <button type="submit" id="ears">5 - Touche ses oreilles </button>
            <button type="submit" id="lookAtAquarium">6 - Regarde aquarium </button>
            <button type="submit" id="Exclamation">7 - C'est pas vrai ?! </button>
            <button type="submit" id="weAreSharks">8 - Nous sommes des requins </button>
            <button type="submit" id="No">9 - Non</button>
            <button type="submit" id="Excited">10 - Oui, je veux !</button>
            <button type="submit" id="lookAtAquarium">11 - Regarde aquarium </button>
            <button type="submit" id="interessted">12 - Requin interessant  </button>
            <button type="submit" id="askVisitors">13 - Demande aux visiteurs </button>
            <button type="submit" id="bodyBuilding">14 - BodyBuilding </button>
            <button type="submit" id="iKnow">15 - Je sais ! </button>
            <button type="submit" id="protectSharks">15 - Comment protéger les requins ?</button>
            <button type="submit" id="likeSharks">16 - J'aime les requins </button>
            <button type="submit" id="dancePropose">17 - Danse du requin propositions </button>
            <button type="submit" id="start_baby_shark_dance">18 - Baby Shark Dance</button>
            <button type="submit" id="thanks">19 - Merci !</button>
        </div>
    </div>

    <div class="movment-container">
        <h2>Contrôle du volume</h2>
            <input type="range" id="volume" name="volume" min="0" max="100" value="50">
            <button type="submit" id="volumeBtn">Appliquer</button>
    </div>

    <div class="movment-container">
        <h2>Niveau de batterie du robot NAO</h2>
        <div class="battery-wrapper">
            <div class="battery-level" id="battery-level"></div>
        </div>
        <div class="battery-text">Niveau de batterie : <span id="battery-text">0</span>%</div>
    </div>
    

    <script>
        // Récupérer le curseur de volume
        var volumeInput = document.getElementById('volume');

        // Vérifier s'il existe une valeur de volume stockée localement
        var savedVolume = localStorage.getItem('volume');
        if (savedVolume !== null) {
            // Mettre à jour la valeur du curseur de volume
            volumeInput.value = savedVolume;
        }

        // Écouter les changements de valeur du curseur de volume
        volumeInput.addEventListener('input', function() {
            // Stocker la nouvelle valeur du volume localement
            localStorage.setItem('volume', volumeInput.value);
        });

        // Gestion des boutons Afficher/Cacher
        const boutonsAfficher = document.querySelectorAll('.bouton-afficher');
        const boutonsCacher = document.querySelectorAll('.bouton-cacher');

        boutonsAfficher.forEach(function(boutonAfficher) {
            boutonAfficher.addEventListener('click', function() {
                const targetId = this.getAttribute('data-target');
                const contenuAfficher = document.querySelector('.' + targetId);

                contenuAfficher.style.display = 'block';
                this.style.display = 'none';

                // Afficher le bouton Cacher associé
                const boutonCacher = document.querySelector('.bouton-cacher[data-target="' + targetId + '"]');
                boutonCacher.style.display = 'block';
            });
        });

        boutonsCacher.forEach(function(boutonCacher) {
            boutonCacher.addEventListener('click', function() {
                const targetId = this.getAttribute('data-target');
                const contenuAfficher = document.querySelector('.' + targetId);

                contenuAfficher.style.display = 'none';

                // Afficher le bouton Afficher associé
                const boutonAfficher = document.querySelector('.bouton-afficher[data-target="' + targetId + '"]');
                boutonAfficher.style.display = 'block';

                this.style.display = 'none';
            });
        });

        function updateBatteryLevel() {
            fetch('/battery_level')
                .then(response => response.json())
                .then(data => {
                    const batteryLevel = data.battery_level || 0;
                    document.getElementById('battery-level').style.width = batteryLevel + '%';
                    document.getElementById('battery-text').innerText = batteryLevel;

                    // Mettre à jour la classe CSS en fonction du pourcentage de batterie
                    const batteryElement = document.getElementById('battery-level');
                    batteryElement.className = 'battery-level';

                    if (batteryLevel < 20) {
                        batteryElement.classList.add('low');
                    } else if (batteryLevel < 50) {
                        batteryElement.classList.add('medium');
                    } else {
                        batteryElement.classList.add('high');
                    }
                });
        }

        setInterval(updateBatteryLevel, 5000); // Actualiser toutes les 2 minutes

        $(document).ready(function() {

            $("#goForward").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "move", x: 0.5, y: 0, theta: 0}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Action lancée: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement de l'action: " + error.responseText);
                    }
                });
            });

            $("#goBackward").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "move", x: -0.5, y: 0, theta: 0}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Action lancée: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement de l'action: " + error.responseText);
                    }
                });
            });
            

            $("#volumeBtn").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "set_volume" , volume: volumeInput.value}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Action stoppée: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors de l'arrêt du changement de volume: " + error.responseText);
                    }
                });
            });

            $("#stop").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "go_posture", posture: "Stand"}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Action stoppée: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors de l'arrêt de l'action: " + error.responseText);
                    }
                });
            });

            $("#Stand").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "go_posture", posture: "Stand"}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Posture changée: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du changement de posture: " + error.responseText);
                    }
                });
            });

            $("#Sit").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "go_posture", posture: "Sit"}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Posture changée: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du changement de posture: " + error.responseText);
                    }
                });
            });

            $("#LyingBack").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "go_posture", posture: "LyingBack"}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Posture changée: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du changement de posture: " + error.responseText);
                    }
                });
            });

            $("#LyingBelly").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "go_posture", posture: "LyingBelly"}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Posture changée: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du changement de posture: " + error.responseText);
                    }
                });
            });

            $("#OdysseoPres").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "welcome-odysseo/behavior_1" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#me").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/RaiseArm" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#fear").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/FearSharks" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#notConvived").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/Thinking" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#sharksFish").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/InteruptOpenArms" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#ears").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/TouchingEars" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#lookAtAquarium").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/turnBothSides" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#Exclamation").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/Exclamation" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#weAreSharks").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/WeAreSharks" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#No").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/No" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#Excited").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/Excited" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#lookAtAquarium").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/turnBothSides" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#interessted").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/Interst_about_sharks" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#askVisitors").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/AskToVisitors" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });


            $("#bodyBuilding").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/BodyBuilding_Pose" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#iKnow").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/Nao_Knows" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#protectSharks").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/Why_protect_sharks" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#likeSharks").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/Feels_good_about_sharks" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#dancePropose").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/bby_shark_propose" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#start_baby_shark_dance").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "baby_shark_dance-566cf7/behavior_1" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

            $("#thanks").click(function() {
                $.ajax({
                    url: "/",
                    type: "POST",
                    data: JSON.stringify({ action: "start_behavior", behavior: "sharkpresentation-b89c11/Thanks" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log("Comportement lancé: " + response.message);
                    },
                    error: function(error) {
                        alert("Erreur lors du lancement du comportement: " + error.responseText);
                    }
                });
            });

        });


               
        

    </script>
</body>
</html>
